<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="created" content="<%= Date.now() %>">

    <title>SAVE Cloud Service</title>

    <link rel="stylesheet" type="text/css" href="main.css"/>
    <!-- Custom fonts for this template-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- ****** faviconit.com ****** -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--  highlight.js for code highlighting  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/intellij-light.min.css" title="Intellij Light" >
</head>

<body style="background-color: #fcfcfc" id="main-body" class="save">
<div id ="wrapper">
    <img id="loading-image" src="img/logo-anim.gif" style="position: absolute; top: 50%; left: 50%;
     transform: translate(-50%, -50%);" alt="Loading...">
</div>

<!-- Kotlin/JS compiled script -->
<script src="save-frontend.js?built-at=<%= Date.now() %>"></script>
<script src="save-frontend-vendors.js?built-at=<%= Date.now() %>"></script>
</body>
</html>
