target
.gradle
build
!ktlint/src/main/resources/config/.idea
/.idea
/.mailmap
*.iml
out
.DS_Store
save-cloud-charts/save-cloud/charts
*.log
*.jar
/save-backend/files/testSuites/CQFN.org/Standard+test+suites/*/*.zip

# JPA Buddy
/.jpb/

# Vim swap files
*.swp
