server:
  port: 5300
  error:
    path: /error
gateway:
  backend:
    url: http://backend:5800
  frontend:
    url: http://frontend:5810
  grafana:
    url: http://grafana:9100
  sandbox:
    url: http://sandbox:5400
  demo:
    url: http://demo:5401
  neo4j:
    url: http://neo4j:5402
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,gateway
spring:
  profiles:
    default: dev
  cloud:
    gateway:
      routes:
        - id: api_route
          uri: ${gateway.backend.url}
          predicates:
            - Path=/api/**
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie
            - ConvertAuthorizationHeader=
        - id: index_route
          uri: ${gateway.frontend.url}/index.html
          predicates:
            - Path=/
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie
        - id: error_route
          uri: ${gateway.backend.url}/error
          predicates:
            - Path=/error
        - id: resource_route
          uri: ${gateway.frontend.url}
          predicates:
            - Path=/*.html,/*.js*,/*.css,/img/**,/*.ico,/*.png
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie
        - id: grafana
          uri: ${gateway.grafana.url}
          predicates:
            - Path=/grafana/**
        - id: sandbox-api_route
          uri: ${gateway.sandbox.url}
          predicates:
            - Path=/sandbox/api/**
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie
            - ConvertAuthorizationHeader=
        - id: demo-api_route
          uri: ${gateway.demo.url}
          predicates:
            - Path=/demo/api/**
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie
            - ConvertAuthorizationHeader=
        - id: neo4j-api_route
          uri: ${gateway.neo4j.url}
          predicates:
            - Path=/neo4j/api/**
          filters:
            # If SESSION cookie is passed to downstream, it is then removed, because downstream discards it
            - RemoveRequestHeader=Cookie

---
spring:
  config:
    activate:
      on-profile: kubernetes
gateway:
  grafana:
    url: http://save-cloud-grafana:9100
---
spring:
  config:
    activate:
      on-profile: prod
  security:
    oauth2:
      client:
        provider:
          github:
            # value that will work with GitHub API, where GitHub provides username as "login" in the response
            # https://docs.github.com/en/rest/reference/users#get-the-authenticated-user
            user-name-attribute: login