.ribbon-parent {
  overflow: hidden;
}

.ribbon-approved {
  margin: 0;
  padding: 0;
  background: green;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon-approved:before,
.ribbon-approved:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: green;
}
.ribbon-approved:before {
  right:100%;
}

.ribbon-approved:after {
  left:100%;
}

.ribbon-not-approved {
  margin: 0;
  padding: 0;
  background: #dc3545;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon-not-approved:before,
.ribbon-not-approved:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: #dc3545;
}
.ribbon-not-approved:before {
  right:100%;
}

.ribbon-not-approved:after {
  left:100%;
}
