name: Reusable build and test

on:
  workflow_call:
    inputs:
      module:
        required: true
        type: string

jobs:
  build_module:
    name: Build, test and upload code coverage (${{ inputs.module }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # required for correct codecov upload
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Install system packages
        if:  inputs.module == 'save-agent' || inputs.module == 'save-demo-agent'
        # libcurl is needed for ktor-client-curl
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev
      - name: Retrieve Kotlin version
        run: |
          kv=$(cat gradle/libs.versions.toml | grep '^kotlin =' | awk -F'[=]' '{print $2}' | tr -d '" ')
          echo KOTLIN_VERSION=$kv >> $GITHUB_ENV
      - name: Cache konan
        uses: actions/cache@v3
        with:
          path: ~/.konan
          key: ${{ runner.os }}-gradle-konan-${{ env.KOTLIN_VERSION }}
      - name: Build ${{ inputs.module }}
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          gradle-home-cache-cleanup: true
          # we need to write cache for PRs too
          cache-read-only: ${{ github.ref != 'refs/heads/master' && github.event_name != 'pull_request }}
          arguments: |
            :${{ inputs.module }}:build
            -x detekt
            -x spotlessCheck
            -x :save-agent:linkDebugExecutableLinuxX64
            -x :save-demo-agent:linkDebugExecutableLinuxX64
            -Pdetekt.multiplatform.disabled=true
            -PgprUser=${{ github.actor }}
            -PgprKey=${{ secrets.GITHUB_TOKEN }}
            --scan
            --build-cache
      - name: Upload gradle reports ${{ inputs.module }}
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: gradle-reports-${{ inputs.module }}
          path: '${{ inputs.module }}/build/reports/'
          retention-days: 1
      - name: Upload frontend distribution
        if: inputs.module == 'save-frontend'
        uses: actions/upload-artifact@v3
        with:
          name: save-frontend
          path: 'save-frontend/build/libs/save-frontend-*-distribution.jar'
          retention-days: 1
