# values specific to deployment into Minikube

profile: dev
backend:
  profile: dev,secure,kubernetes
gateway:
  profile: dev,kubernetes
  applicationProperties: |+
    server.shutdown=graceful
    management.endpoints.web.exposure.include=*
    gateway.knownActuatorConsumers=172.0.0.0/8
orchestrator:
  profile: dev,kubernetes,minikube
  dockerHost: tcp://${HOST_IP}:2376
  applicationProperties: |
    logging.level.com.saveourtool=DEBUG
    orchestrator.kubernetes.useGvisor=false
    orchestrator.kubernetes.pvcAnnotations=
    orchestrator.kubernetes.pvcSize=5Gi
    orchestrator.kubernetes.pvcStorageSpec=hostPath:\n\
    \  path: /tmp/save/volumes
mysql:
  external: false
  ip: nil

# dependencies
