name: Build base images for SAVE execution

on:
  schedule:
    - cron: '0 4 * * 1'
  workflow_dispatch:
  push:

jobs:
  build_base_images:
    name: Build base images and push to ghcr.io
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # This should replicate list of SDKs from com.saveourtool.save.domain.Sdk
        include:
          - base_image_name: eclipse-temurin
            base_image_tag: 8-alpine
          - base_image_name: eclipse-temurin
            base_image_tag: 11-alpine
          - base_image_name: eclipse-temurin
            base_image_tag: 17-alpine
          - base_image_name: python
            base_image_tag: 2.7
          - base_image_name: python
            base_image_tag: 3.2
          - base_image_name: python
            base_image_tag: 3.3
          - base_image_name: python
            base_image_tag: 3.4
          - base_image_name: python
            base_image_tag: 3.5
          - base_image_name: python
            base_image_tag: 3.6
          - base_image_name: python
            base_image_tag: 3.7
          - base_image_name: python
            base_image_tag: 3.8
          - base_image_name: python
            base_image_tag: 3.9
          - base_image_name: python
            base_image_tag: '3.10'
    steps:
      - uses: actions/checkout@v3
      - name: Sanitize resulting tag
        run: |
          BASE_IMAGE_TAG=${{ matrix.base_image_tag }}
          IMAGE_TAG=${BASE_IMAGE_TAG%"-alpine"}
          echo IMAGE_TAG=$IMAGE_TAG >> $GITHUB_ENV
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: saveourtool
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v3
        with:
          context: save-deploy/base-images
          push: true
          # https://github.com/marketplace/actions/build-and-push-docker-images#inputs
          # '`List` type is a newline-delimited string'
          build-args: |
            BASE_IMAGE_NAME=${{ matrix.base_image_name }}
            BASE_IMAGE_TAG=${{ matrix.base_image_tag }}
          tags: ghcr.io/saveourtool/save-base:${{ matrix.base_image_name }}-${{ env.IMAGE_TAG }}
